__pycache__/

# Raw dataset
data/install.txt
data/datasets
data/cache
data/temp
cache/

# Colab
colab/model_training_data.zip
colab/cache/
colab/data/

# Zipped dataset
model_training_data.zip
Furniture_Data.zip
data/datasets.zip
datasets.zip
data/zipped